<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.codenotknock.springboot.mapper.StudentMapper">
    <select id="findAll" resultType="org.codenotknock.springboot.controller.Student">
        select first_name, name, age from student
    </select>
</mapper>